

/*---- swatches ----*/
/*---- functions ----*/
/*---- mixins ----*/
/*---- normalize ----*/



body {
  
  background-color: #252525;
}



.os-scrollbar-track {
  left: 0;
  right: 0;
  width: 400px;
  height: 4px;
  max-width: 100%;
  margin: auto;
}
.os-scrollbar-track::before {
  position: absolute;
  inset: 0;
  height: 3px;
  margin: auto;
  background-color: white;
  content: "";
}
.os-scrollbar-track .os-scrollbar-handle {
  background-color: #3f3e3e;
  /* border-radius: 3px; */
  cursor: -webkit-grab;
  cursor: grab;
  transition: background-color 0.3s;
}
.os-scrollbar-track .os-scrollbar-handle.active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.os-scrollbar-track .os-scrollbar-handle:hover {
  background-color: #3f3e3e;
}

.gallery-carousel {
  --gallery-item-width: 250px;
  --gallery-item-height: 200px;
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 0;
}
.gallery-carousel a, .gallery-carousel img {
  display: block;
}
.gallery-carousel a {
  position: relative;
}
.gallery-carousel img {
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery-carousel .gallery-photos {
  height: calc(var(--gallery-item-height) * 4);
  margin-bottom: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  flex: 0 1 auto;
}
.gallery-carousel .gallery-photo {
  position: relative;
  /* overflow: hidden; */
  flex: 0 0 auto;
}
.gallery-carousel .gallery-photo.thumbs {
  width: var(--gallery-item-width);
  height: var(--gallery-item-height);
  padding: 0 1px 0;
}
.gallery-carousel .gallery-photo.thumbs + .thumbs {
  padding-top: 1px;
  margin-left: calc(-1 * var(--gallery-item-width));
  margin-top: var(--gallery-item-height);
}
.gallery-carousel .gallery-photo.featured {
  width: calc(var(--gallery-item-width) * 2);
  height: calc(var(--gallery-item-height) * 2);
}
.gallery-carousel .gallery-photo.featured + .featured {
  padding-left: 1px;
}

.img-style{
  margin-bottom: 15px;
}

#wrapper {
  width: 100%;
}
